

// 同じcss
%form {
	outline: none;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 4px;
  &:focus {
		box-shadow: 0 0 7px #1abc9c;
		border: 1px solid #1abc9c;
  }
}

%tag-info {
	list-style: none;
	font-size: 16px;
	float: left;
	padding: 5px;
	margin-right: 10px;
	margin-bottom: 5px;
	display: inline-block;
	background-color: #ccc;
	border: 1px solid #a9a9a9;
	border-radius: 3px;
}

// boardのindeのimgのpx
$index-img-width: 364px;
$index-img-height: 340px;

